@import "tailwindcss";

body {
  background: #ffffff;
  color: #0B1C39;
  font-family: var(--font-montserrat), 'Montserrat', Arial, Helvetica, sans-serif;
}

/* Leaflet Map Styles */
.leaflet-container {
  width: 100%;
  height: 100%;
}

/* Logo Scroll Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 8s linear infinite;
}

html {
  scroll-behavior: smooth;
}

.rotate-animation {
  transform-origin: center;
}
/* body {
  font-family: 'Inter', sans-serif;
} */
